/*RESET*/
html {font-size:100%;box-sizing:border-box;}
*,*:before,*:after {margin:0;padding:0;box-sizing:inherit;}
body {color:var(--main-fg);background-color:var(--main-bg);font-family:'Livvic',sans-serif;}
header,footer{background-color: var(--mbox-bg);}
img {width: 100%;}
hr {border:0;border-top:var(--line);margin:1rem 0;}
a {text-decoration:none;color:var(--main-link);}
a:visited {color:var(--main-link-v);}
a:hover {text-decoration:underline;}
table {
  display: table;
  border-collapse: collapse;
  border-spacing: 1;
  empty-cells: show;
  max-width: 100%;
  overflow: scroll;
  margin: 0 auto;
}
table th {
  font-weight: 600;
  vertical-align: center;
}
table th,table tr,table td {
  padding: 5px 10px;
  border: var(--tb-br);
  word-break: break-all;
}
tbody {vertical-align:middle;}
pre {
  color: var(--pre-fg);
  background-color: var(--pre-bg);
  margin:4px 2px;
  padding: 5px;
  overflow: auto;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
}
table pre{margin:0;}
code:before {
  content: attr(data-lang);
  font-family: sans-serif;
  font-size: 12px;
  color: #eeeeee50;
  text-align: right;
  float: right;
  position: relative;
  top:-5px;
  right:0;
}
p>code,li>code {
  color: var(--pre-fg);
  background-color: var(--pre-bg);
  padding: 0 2px;
  border-radius: 4px;
}
blockquote {
  display: block;
  background-color: var(--qt-bg);
  border-left: var(--qt-br);
  margin: 0.5rem 0.1rem;
  padding: 1px 1rem;
}
kbd {
  background-color: var(--kb-bg);
  border-bottom: var(--kb-br);
  padding: 0 2px;
  border-radius: 4px;
}
::-webkit-scrollbar {width:8px;height:8px;background:#121212;}
::-webkit-scrollbar-thumb {background: #888;}
.footnotes {
  //white-space: nowrap;
  overflow-y: auto;
  width:100%;
}
h1,h2,h3,h4,h5,h6 {color:var(--h-fg);border-bottom:var(--h-br);margin:8px 0;}
h1 {font-size:1.3em;padding-top:1em;}
h2 {font-size:1.3em;padding-top:1em;}
h3 {font-size:1.3em;padding-top:1em;}
h4 {font-size:1.2em;padding-top:1em;}
h5 {font-size:1.2em;padding-top:1em;}
h6 {font-size:1.2em;padding-top:1em;}
h1:before, h2:before, h3:before, h4:before, h5:before, h6:before {
 font-family:serif;
 font-size:.8em;
 color:var(--h-id);
 opacity:0.7;
}
h1:before{content:'Ⅰ. ';}
h2:before{content:'Ⅱ. ';}
h3:before{content:'Ⅲ. ';}
h4:before{content:'Ⅳ. ';}
h5:before{content:'Ⅴ. ';}
h6:before{content:'Ⅵ. ';}
p {width:100%;margin:0.2em 0;line-height:normal;}
ul,ol {margin: 0.2em 0 0.2em 1.3em;}
#TableOfContents {font-size: 110%;}
#TableOfContents ul,
#TableOfContents>ul ul,
#TableOfContents>ul ul ul {list-style-type: circle;}
/*MOD*/
.flex {display:flex;}
.j-c {justify-content:center;}
.push {margin-left:auto;}
.w-100 {width:100%;}
.tc {text-align:center;}
.tr {text-align:right;}
.shadow {box-shadow:var(--mbox-ss);}
.bold {font-weight:600%;}
.hide {display:none;}
.mbox {width:60%;margin:0 auto;padding:4px 2px;}
.mbox>* {margin:10px;padding:1px 2px;}
.pbox {width:70%;margin:0 auto;padding:2rem 2.5rem;}
/*RES*/
@media screen and (max-width:800px) {
.mbox {width:96%;margin:0 auto;padding:4px 2px;}
.mbox>* {margin:4px;padding:2px 4px;}
.pbox {width:96%;margin:0 auto;padding:1em 10px;}
}
/*HOME*/
.card {
  display:grid;
  grid-gap:1px;
  grid-template-areas:'LT RT' 'LB RB';
  margin-bottom: 20px;
}
.card>* {padding:4px 2px;}
.card-title{grid-area:LT;font-weight:600;font-size:1.2em;}
.card-date {grid-area:RT;}
.card-desc {grid-area:LB;}
.card-taxo {grid-area:RB;}
.paginator {
  padding: .5rem 4rem;
  box-shadow:var(--mbox-ss);
}
.paginator>* {all:unset;flex:1;}
/*NAV*/
.bbox {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow-y: auto;
  max-height: 80%;
  color: var(--bbox-fg);
  background-color: var(--bbox-bg);
  box-shadow: var(--bbox-ss);
  -webkit-transition: bottom .2s;
  transition: bottom .2s;
}
.nav-link{
  font-size: 1.5em;
  padding:.25em .25em 0 .25em;
  color:var(--bbox-fg);
  //background-color: red;
}
#nav_bottom {
  z-index: 100;
  flex-wrap: nowrap;
  height: auto;
}
#nav_menu,#nav_toc {
  z-index: 99;
  bottom: -100%;
}
#nav_menu_name {
  text-align: right;
  padding: 0.1rem 0.4rem;
  font-size: 1.4rem;
}
.nav-sect {
  width:100%;
  display:inline-flex;
  flex-wrap:wrap;
  padding:0.5rem 0;
  box-shadow:var(--bbox-ss);
  font-size:1.1rem;
}
.nav-p {
  padding: 1px 2px;
  margin: 1px 2px;
}
#color_mod_btn>*,#view_mod_btn>*,.th-btn {
  margin: 1px 2px;
  padding: 2px 5px;
  font-size: 15px;
  border-radius: 15px;
  color: default;
  border: 1px solid default;

}
#color_mod_btn>*,#view_mod_btn>*{
  border: 1px solid var(--main-fg);
  color: var(--main-fg);
  background-color: var(--main-bg);
}
#color_mod_btn>*:hover,#view_mod_btn>*:hover{
  cursor: pointer;
  color: var(--main-bg);
  background-color: var(--main-fg);
}
.th-btn-a {
  background-color: var(--main-fg);
  color: var(--main-bg);
}
/*HEADER*/
.f-head {font-weight:600;font-size:2rem;padding:.5em 1em;}
#header {margin-bottom:2em;padding:10px;font-size:1em;}
/*FOOTER*/
#footer {margin:5em 0;padding:4em 1em;}
/*ENHANCE*/
.nav-flip {
  position:fixed;
  z-index:10;
  top:0px;
  width:15px;
  height:100%;
  //background-color:#00000034;
}
.mermaid {background-color: #ffffff24;}
/*MD*/
.h-anchor {
  all:unset;
  text-shadow: initial;
  color:transparent;
  font-size:80%;
}
.h-anchor:hover {
  all:unset;
  color:var(--main-link);
}
.img-frame {
  background-color:#aaaaaa20;
  width:400px;
  height:300px;
  margin:0 auto;
  padding:0;
}
