.mbox,.pbox,header,footer {
  backdrop-filter:blur(18px) brightness(80%) saturate(150%);
}
body {
  text-shadow: 2px 2px 3px #000000a0;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
