:root {
  --main-fg: #b8b8b8;
  --main-bg: #0f0f0f;
  --main-link: #4682b4;
  --main-link-v: #8a2be2;
  --mbox-bg: transparent;
  --mbox-ss: 0px 0px 5px #000000;
  --bbox-ss: 0px -2px 6px #000000;
  --bbox-fg: #ccc;
  --bbox-bg: #1c1c1c;
  --h-id: grey;
  --h-fg: default;
  --h-br: thin groove #d0d0d020;
  --qt-bg: #000;
  --qt-br: 5px solid #909090;
  --tb-br: 1px solid #b8b8b8;
  --pre-fg: #f8f8f8;
  --pre-bg: #272822;
  --kb-bg: #343434;
  --kb-br: 3px solid #aaaaaa60;
  --line: 3px dashed #aaa;
}
