:root {
  --main-fg: #cdb79e;
  --main-bg: #556b2f;
  --main-link: #66cd00;
  --main-link-v: #32cd32;
  --mbox-bg: transparent;
  --mbox-ss: 0px 0px 5px #000000;
  --bbox-ss: 0px -2px 6px #000000;
  --bbox-fg: #ccc;
  --bbox-bg: #256b0f;
  --h-id: grey;
  --h-fg: default;
  --h-br: thin groove #34343490;
  --qt-bg: #98fb9820;
  --qt-br: 5px solid #ffd700;
  --tb-br: 1px solid #cdb79e;
  --pre-fg: #f8f8f8;
  --pre-bg: #272822;
  --kb-bg: #888;
  --kb-br: 3px solid #00000060;
  --line: 3px dashed #aaa;
}
