:root {
  --main-fg: #242424;
  --main-bg: #bebebe;
  --main-link: #27408b;
  --main-link-v: #a020f0;
  --mbox-bg: transparent;
  --mbox-ss: 0px 0px 5px #000000;
  --bbox-ss: 0px -2px 6px #000000;
  --bbox-fg: #000;
  --bbox-bg: #ccc;
  --h-id: grey;
  --h-fg: default;
  --h-br: thin groove #34343490;
  --qt-bg: #99999930;
  --qt-br: 5px solid #888;
  --tb-br: 1px solid #000;
  --pre-fg: #f8f8f8;
  --pre-bg: #272822;
  --kb-bg: #aaa;
  --kb-br: 3px solid #808080f0;
  --line: 3px dashed #222;
}
