html {
  font-size:1rem;
  box-sizing:border-box;
}
*,*:before,*:after {
  margin:0;
  padding:0;
  box-sizing:inherit;
}
.fence-list {
  margin:auto;
  max-width:440px;
}
.fence-list>div>a{
  color:#838b8b;
  font-size:120%;
}
.fence {
  margin:auto;
  width:70%;
}
.taxo {
  padding:.1em .4em;
  margin:.1em .2em;
  border-radius:4px;
  background:#303030;
  color:#9a9a9a;
}
.toc {
  float:right;
  margin:.5em;
}
.toc>b {
  cursor:pointer;
  background:#1b202a;
  display:block;
  text-align:right;
  font-weight:900;
  padding:.2em 1em;
}
.toc>div {
  background:#1b202a80;
  padding:.2em 1em;
}
.excerpt {
  color:#7f7f45;
}
.summary {
  margin:.5rem 0 1.5rem 0;
  word-break:break-all;
}
.pager {
  margin-top:2rem;
  font-size:120%;
}
.H {
  display:flex;
  align-items:center;
  flex-wrap:wrap;
  margin:1.5rem 0 .5rem 0;
}
.Hp {
  font-family:"Times New Roman",Serif;
  text-align:right;
  margin:.4rem 0;
}
.H>.T {
  margin-left:.5rem;
  margin-right:.5rem;
}
.T {
  font-size:150%;
  font-weight:800;
}
.highlight,.table-wrap,.code-wrap{
  width:auto;
  overflow:auto;
  margin:.2rem 0;
}
.cp-btn {
  color:inherit;
  background:transparent;
  border:1px solid #454545;
  border-top:0;
  padding:0px 10px;
  float:right;
  margin-right:1px;
  cursor:pointer;
}
.cp-btn:hover{
  background: #54545490;
}
/*rectify*/
body {
  font-family:"Times New Roman",Serif;
  color:#897f6d;
  background:#000;
}
h1,h2,h3,h4,h5,h6{
  color:#9c5050;
  font-weight:300;
  margin:.8em 0 .6em 0;
}
a {
  color:#838b8b;
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
}
p {
  line-height:1.5em;
  margin:.2em .1em;
}
ul {
  list-style-type: disc;
}
ul, ol{
  line-height:1.5em;
  margin:.2em 1em .2em 1em;
}
table {
  margin:0 auto;
  border-collapse:collapse;
  border-spacing:0;
}
th,td {
  padding:5px 15px;
  border:1px solid #303030;
}
pre {
  padding:.2em .1em;
}
pre,pre>code {
  font-family:monaco,consolas,monospace;
  color:#aaa;
  background:#242424;
}
code[data-lang]::before{
  content:attr(data-lang);
  color:#80808090;
  font-weight:800;
  float:right;
}
hr {
  width:100%;
  border:0;
  margin:1.5em 0;
  border-top:1px solid #ffffff80;
}
kbd {
  display:inline-block;
  border:1.5px solid #787878;
  padding:0 .2em;
  margin:1em .4em;
  min-width:2em;
  border-radius:3.5px;
}
blockquote {
  border-left:4px solid #785690;
  background:#78569020;
  width:auto;
  margin:1em 0 1em 0;
  padding:.2em .2em .2em .5em;
}
/*markupRender*/
.h__anchor{ color:transparent; }
.h__anchor:hover{ color:inherit; }
.md__image{
  margin:.7rem auto;
  text-align:center;
}
.md__link,p>a{
  color:#1c86ee;
  text-decoration:none;
}
.md__link:visited,p>a:visited{
  color:#b82bf5;
}
img{
  display:block;
  width:100%;
  max-width:400px;
  margin:0 auto;
}
@media all and (max-width:800px){
.fence-list { max-width:90%; }
.fence { width:90%; }
.highlight,.table-wrap,.code-wrap,.md__image,hr{ width:110%; margin:.5rem -5%; }
.jmpball {
  font-family:Sans-Serif;
  position:fixed;
  text-align:center;
  font-size:20px;
  line-height:45px;
  padding:2px;
  width:50px;
  height:50px;
  border-radius:100%;
  background:#3F25AF;
}
}
#searcher{
  font-size:110%;
  color:inherit;
  background:inherit;
  margin:1em .5em 0 .5em;
  border:0;
  border-bottom:1px solid #242424;
  width:100%;
}
#searcher:focus {
  border-color:#878787;
  outline:none;
}
#search_result{
  font-size:110%;
  position:absolute;
  background:#000;
}
#search_result>dl{
  margin:.3em 0;
  max-height:200px;
  border-left:3px solid;
  overflow-y:auto;
}
#search_result a,#search_result dt{
  padding:0 .4em;
  display:block;
}
#search_result a:hover {
  background:#78787850;
}
