:root {
  --main-fg: #556b2f;
  --main-bg: #ffdab9;
  --main-link: #3a5fcd;
  --main-link-v: #9400d3;
  --mbox-bg: transparent;
  --mbox-ss: 0px 0px 5px #000000;
  --bbox-ss: 0px -2px 6px #000000;
  --bbox-fg: #000;
  --bbox-bg: #ff7f50;
  --h-id: grey;
  --h-fg: default;
  --h-br: thin groove #34343490;
  --qt-bg: #cdaf9520;
  --qt-br: 5px solid #cd5555;
  --tb-br: 1px solid #cd5555;
  --pre-fg: #f8f8f8;
  --pre-bg: #272822;
  --kb-bg: #eed5d2;
  --kb-br: 3px solid #aaaaaa60;
  --line: 3px dashed black;
}
