:root {
  --main-fg: #b8b8b8;
  --main-bg: #102040;
  --main-link: #ffc125;
  --main-link-v: #cd9b1d;
  --mbox-bg: transparent;
  --mbox-ss: 0px 0px 5px #000000;
  --bbox-ss: 0px -2px 6px #000000;
  --bbox-fg: #ccc;
  --bbox-bg: #27408b;
  --h-id: grey;
  --h-fg: default;
  --h-br: thin groove #ffffff90;
  --qt-bg: #00408090;
  --qt-br: 5px solid #909090;
  --tb-br: 1px solid #b8b8b8;
  --pre-fg: #f8f8f8;
  --pre-bg: #272822;
  --kb-bg: #343434;
  --kb-br: 3px solid #aaaaaa60;
  --line: 3px dashed #aaa;
}
